<form action="/" method="Post">
<input type="text" placeholder="ingrese url" name="origin" class="form-control my-2" id="">
<button type="submit"  class="btn btn-primary w-100 md-2" >Agregar Url</button>
</form>